* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 10px

}

a {
    padding: 20px;
    margin: 20px;
    color: rgb(214, 129, 143);
    
}

body {
    background-color: rgb(194, 203, 255);
}