h1 {
  text-align: center;
  padding: 3vw;
}


#wrapper {
 display: flex;
flex-direction: row;
margin: 0 auto;
width: 80vw;
align-items: center;
flex-wrap: wrap;

}

.box {
width: 20vw;
height: 20vw;
background-color: pink;
text-align: center;
font-size: 2em;
margin: 50px;
display: flex;
flex-direction: column;
border: solid aqua;

}





